{% extends "layouts/base.html" %}

{% block content %}
<div class="page-container">
  <section class="profile-listings">
    <div class="profile-listings__wrapper">
      <img src="/images/icons/location-icon.svg" alt="{{ title }} Icon" class="profile-listings__icon">
      <h1 class="font--bold font--xxx-large text-center profile-listings__heading">{{ title }}</h1>
      <p class="font--regular text-center profile-listings__para">{{ desc | safe }}</p>
      <!-- Search Results -->
      <div class="profile-listings__listings listing">
        <ul class="listing__wrapper">
          {% for listing in collections.listings %}
            {% for tag in listing.data.tags %}
              {% if title == tag | tagName %}
                {% include 'partials/listing.html' %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}
