.hero {

  &__title {
    margin: 0 auto 0.5em;
    max-width: 550px;
  }

  &__para {
    margin: 0 auto;
    max-width: 650px;
  }

  &__btn-container {
    margin: 2.5em auto 0;
  }

  &__svg {
    display: block; 
  }
}