// Main Colours
$primary-color: #2B2942;
$secondary-color: #727C9F; 
$dark-accent-color: #5956E9; 
$light-accent-color: #EAEAFC; 
$alert-dark-color: #EE4D75; 
$alert-light-color: #FCEDF0; 
$warning-dark-color: #FBE07F; 
$warning-light-color: #FDF3CB;
$success-dark-color: #7ACE95; 
$success-light-color: #E3F7EC; 

// Typography
$sans-serif: 'Nunito', sans-serif;
$normal: 400;
$semibold: 600;
$bold: 700;

// General
$max-page-width: 1364px;
$breakpoint-small-mobile: 320;
$breakpoint-large-mobile: 550;
$breakpoint-tablet: 768;
$breakpoint-small-laptop: 1100;
$breakpoint-large-laptop: 1440;

$box-shadow: 0px 3px 20px rgba(0,23,56,0.16);