{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/meta-info.html"%}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />
    <link rel="stylesheet" href="/css/main.css?{{ assetHash }}" onload="this.media='all'" />

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TQCVC32');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQCVC32"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  
    {% if page.url == '/' %}
      {% include "partials/site-head-2.html" %}
    {% else %}
      {% include "partials/site-head.html" %}
    {% endif %}

    <main id="main-content" tabindex="-1">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/site-footer.html" %}
    
    <script src="/js/nav.js"></script>
  </body>
</html>
