.nav {
  a {
    margin-left: get-size('400');
    margin-right: get-size('400');
    color: get-color('heading');
    text-decoration: none;

    @include apply-utility('weight', 'bold');
  }

  a:not([class]) {
    padding-top: get-size('400');
    padding-bottom: get-size('400');
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__list :first-child a {
    margin-left: 0;
    color: get-color('tag-primary');
  }

  &__list :last-child a {
    margin-right: 0;
  }
}