{% extends "layouts/base.html" %}

{% block content %}
<div class="page-container">
  <section class="profile-listings">
    <div class="profile-listings__wrapper">
      <h1 class="font--bold font--xxx-large text-center profile-listings__heading">All Listings</h1>
      <p class="font--regular text-center profile-listings__para">Search our extensive list of local business changing and adapting to a new way of normal. Take a look and <span class="font--accent-color">#keepshoppinglocal.</span></p>
      <!-- Search Results -->
      <div class="profile-listings__listings listing">
        <ul class="listing__wrapper">
          {% for listing in collections.listings %}
            {% include 'partials/listing.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}
