<a class="skip-link" href="#main-content">Skip to content</a>

<header class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <a class="site-head__logo" href="/" aria-label="{{ site.name }} - home">
        {% include "partials/logo.svg" %}
      </a>
      <nav class="nav" aria-label="Primary navigation">
        <ul class="nav__list">
          {% for item in navigation %}
            <li>
              <a {{ "class=button data-variant=ghost" if loop.last }} href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>