<header class="site-header">
  <nav class="page-container site-header__nav">
    <a href="/" class="site-header__logo-link">
      <img src="/images/offerboxx_primary-logo.svg" alt="Offerboxx Logo" class="site-header__logo">
    </a>
    
    <button id="hamburger" class="site-header__hamburger hamburger hamburger--spring" type="button">
      <span class="font--bold font--large" style="margin-right: 1em;">Menu</span>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <ul class="site-header__menu site-header__menu--normal">
      <li class="site-header__menu-item"><a href="#" class="site-header__link">Discover</a></li>
      <li class="site-header__menu-item"><a href="#" class="site-header__link">Exclusive Offers</a></li>
      <li class="site-header__menu-item"><a href="#" class="site-header__link">Scribe</a></li>
      <li class="site-header__menu-item"><a href="#" class="site-header__link">Contact Us</a></li>
      <a class="btn btn--secondary btn--small site-header__cta">Post For Free</a>
    </ul>

    <div id="mobile-nav" class="site-header__menu site-header__menu--mobile mobile-menu">
      <ul class="page-container mobile-menu__inner">
        <li class="site-header__menu-item"><a href="#" class="site-header__link">Discover</a></li>
        <li class="site-header__menu-item"><a href="#" class="site-header__link">Exclusive Offers</a></li>
        <li class="site-header__menu-item"><a href="#" class="site-header__link">Scribe</a></li>
        <li class="site-header__menu-item"><a href="#" class="site-header__link">Contact Us</a></li>
      </ul>
      <a class="btn btn--secondary btn--small site-header__cta">Post For Free</a>
    </div>
  </nav>
</header>
